---
import MainLayout from "../../components/layout/main-layout.astro";
---

<MainLayout title="Tools | Everything" description="List of all the tools">
  <h1 class="text-center text-2xl md:text-3xl font-bold mt-10">Tools</h1>

  <div class="flex mt-10">
    <a
      href="/tools/package-update"
      class="hover:border-gray-500 hover:border-4 transition-all duration-75 ease-out card flex w-[400px] flex-col px-3 py-2 rounded-md border-2 border-gray-500"
    >
      <picture>
        <source
          type="image/webp"
          src="https://static.everythingcs.dev/blog/1692097873713-861753829.png"
        />

        <img
          class="rounded-md border-2 border-gray-500"
          src="https://static.everythingcs.dev/blog/1692097807511-229557896.png"
          alt="Image demonstrating the tool working"
        />
      </picture>

      <div>
        <h2 class="text-xl font-medium text-center my-3">
          Package Update String
        </h2>

        <p class="text-center">
          Paste your npm outdated output and get latest update string.
        </p>
      </div>
    </a>
  </div>
</MainLayout>
