<footer
  class="bg-primaryColour w-full h-[60px] flex items-center text-white p-6 md:p-9 md:px-11 mt-auto"
>
  <p class="w-full text-center">
    &copy;{new Date().getFullYear()}
    <a href="/">EverythingCS</a>
  </p>
</footer>
