---
import Navbar from "../navbar.astro";
import "@fontsource-variable/inter";
import "../../global.css";
import MainHeader from "./main-header.astro";
import Footer from "../footer.astro";
import PageSchema from "../seo/page-schema.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHeader {title} {description}>
    <PageSchema {title} {description} />
  </MainHeader>

  <body class="flex flex-col min-h-[100vh]">
    <div>
      <Navbar />
      <main class="md:max-w-[1248px] md:mx-auto px-3">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
