---
import Navbar from "../Navbar.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "../../global.css";
import MainHeader from "./MainHeader.astro";
import Footer from "../Footer.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <MainHeader {title} {description} />
  <body class="flex flex-col min-h-[100vh]">
    <div>
      <Navbar />

      <main class="md:max-w-[1248px] md:mx-auto px-3">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
