<header class={`text-[18px] h-[80px] bg-primaryColour text-white `}>
  <div
    class="relative h-full md:max-w-[1248px] md:mx-auto px-3 flex justify-between items-center"
  >
    <a href="/">
      <h1 class="font-semibold text-2xl md:text-3xl">EverythingCS</h1>
    </a>

    <div class="hidden md:flex items-center gap-20">
      <ul class={` text-[20px] flex items-center gap-5 `}>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
    <div class={`hamburger  block md:hidden mt-1 cursor-pointer`}>
      <span class="bar block w-[30px] h-[4px] bg-white"></span>
      <span class="bar block w-[30px] mt-1 h-[4px] bg-white"></span>
      <span class="bar block w-[30px] mt-1 h-[4px] bg-white"></span>
    </div>
  </div>

  <!-- class="mobileNav hidden top-14 right-0 w-[100%] text-white absolute flex flex-col justify-center h-[300px] bg-black items-center md:hidden" -->
  <nav
    class="mobileNav hidden top-14 right-0 w-[100%] text-white absolute flex-col justify-center h-[300px] bg-primaryColour items-center md:hidden"
  >
    <ul class="flex flex-col items-center gap-5">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const hamburger = document.querySelector(".hamburger");
  const mobileNav = document.querySelector(".mobileNav");

  hamburger?.addEventListener("click", () => {
    console.log("clicked hamburger");
    hamburger.classList.toggle("active");
    mobileNav?.classList.toggle("hidden");
    mobileNav?.classList.toggle("flex");
  });
</script>

<style>
  .hamburger.active > span.bar:nth-child(2) {
    display: none;
  }
  .hamburger.active > span.bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active > span.bar:nth-child(3) {
    transform: translateY(-1px) rotate(-45deg);
  }
</style>
