---
import Navbar from "../navbar.astro";
import "@fontsource-variable/inter";
import "../../global.css";
import MainHeader from "./main-header.astro";
import Footer from "../footer.astro";
import PageSchema from "../seo/page-schema.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHeader {title} {description}>
    <PageSchema {title} {description} />
  </MainHeader>

  <body class="flex flex-col min-h-[100vh]">
    <div>
      <Navbar />
      <main class="md:max-w-[1248px] md:mx-auto px-3">
        <slot />
      </main>
    </div>
    <Footer />

    <script>
      const slug = window.location.pathname;
      const pageReferrer = document.referrer;

      setTimeout(() => {
        eventDispatcher("pageLoad");
      }, 5000);
      setTimeout(() => {
        eventDispatcher("after30s");
      }, 30000);

      let hasScrolled = false;
      let isAtBottom = false;

      window.addEventListener("scroll", function () {
        let distanceToBottom =
          document.body.offsetHeight - (window.innerHeight + window.scrollY);

        if (distanceToBottom < 50) {
          if (isAtBottom) return;

          isAtBottom = true;
          eventDispatcher("bottom");
        }
        if (hasScrolled) return;
        hasScrolled = true;
        eventDispatcher("scroll");
      });

      async function eventDispatcher(type: string) {
        if (window.location.host !== "everythingcs.dev") return;
        const slug = window.location.pathname;
        const device = window.navigator.userAgent;

        await fetch("https://apis.everythingcs.dev/v1/events", {
          method: "POST",
          body: JSON.stringify({ type, slug, device, referrer: pageReferrer }),
        });
      }
    </script>
  </body>
</html>
