---
import PageLayout from "../components/layout/page-layout.astro";
---

<PageLayout title="Not found" description="Not found">
  <h1 class="mt-10 mb-3 text-center text-3xl font-bold">404 Not Found</h1>
  <p class="text-center">Sorry we couldn't find what you're searching for</p>

  <div class="flex items-center justify-center">
    <a class="border-2 rounded-md px-5 py-2 my-5" href="/">Back to home</a>
  </div>
</PageLayout>
