---
import MainLayout from "../components/layout/MainLayout.astro";
---

<MainLayout title="About EverythingCS" description="About this blog">
  <h2 class="text-center text-2xl md:text-3xl font-bold mt-10">
    About EverythingCS
  </h2>
  <p class="text-center mt-5">
    Hello, I am Jitendra. I mostly talk about frontend stuff like ReactJS,
    Next.js, Firebase and many others. I have started this blog to help my
    fellow frontend coder with the things I know. This is also giving me huge
    learning opportunity.
  </p>
</MainLayout>
