---
import PageLayout from "../components/layout/page-layout.astro";
---

<PageLayout title="About EverythingCS" description="About EverythingCS">
  <h1 class="text-center text-2xl md:text-3xl font-bold mt-10">
    About EverythingCS
  </h1>
  <section class="lg:w-[60%] lg:mx-auto">
    <p class="mt-5">
      Hello, I am Jitendra. I mostly talk about full stack stuff like ReactJS,
      Next.js, Firebase, Node.js, Cloudflare Workers ,Databases and many others.
      I have started this blog to help my learning web developers with the
      things I know. This is also giving me huge learning opportunity.
    </p>

    <h3 class="text-xl font-medium mt-5 mb-3">Connect with Me:</h3>

    <p>
      Twitter: <a
        referrerpolicy="no-referrer"
        rel="noopener nofollow"
        href="https://twitter.com/ksjitendra18">@ksjitendra18</a
      >
    </p>
    <p>
      Discord: <a
        referrerpolicy="no-referrer"
        rel="noopener nofollow"
        href="https://discord.gg/W3nubBNeXK">EverythingCS Discord Server</a
      >
    </p>
    <p>
      Github: <a
        referrerpolicy="no-referrer"
        rel="noopener nofollow"
        href="https://github.com/ksjitendra">ksjitendra18</a
      >
    </p>
  </section>
</PageLayout>

<style>
  p {
    margin-block-end: 1rem;
  }

  a {
    @apply underline text-[#1A45BC] dark:text-[#8bb5f8];
  }
</style>
