---
import MainLayout from "../components/layout/main-layout.astro";
---

<MainLayout
  title="Cookie Policy"
  description="This page lays out cookie policy for the website."
>
  <section class="post-content">
    <h1 class="text-center text-2xl md:text-3xl font-bold my-10">
      Cookies Policy
    </h1>

    <p>
      Basic Terminology: We, The website, EverythingCS, Everything CS and its
      authors refers to the the website everythingcs.dev. You refers to the
      visitors of the website.
    </p>
    <p>
      This page explains what these technologies are and why we use them, as
      well as your rights to control our use of them.
    </p>

    <h2 class="my-5 text-2xl font-bold">What are cookies?</h2>

    <p>
      Cookies are small data files that are placed on your computer or mobile
      device when you visit a website. Cookies are widely used by website owners
      in order to make their websites work, or to work more efficiently, as well
      as to provide reporting information. Cookies set by the website owner (in
      this case, EverythingCS) are called "first-party cookies."
    </p>

    <p>
      Cookies set by parties other than the website owner are called
      "third-party cookies." Third-party cookies enable third-party features or
      functionality to be provided on or through the website (e.g., advertising,
      interactive content, and analytics). The parties that set these
      third-party cookies can recognize your computer both when it visits the
      website in question and also when it visits certain other websites.
    </p>

    <h2>How can I control cookies?</h2>

    <p>
      You have the right to decide whether to accept or reject cookies. You can
      exercise your cookie rights by setting your preferences in the Cookie
      Consent Manager.
    </p>

    <p>
      The Cookie Consent Manager allows you to select which categories of
      cookies you accept or reject. Essential cookies cannot be rejected as they
      are strictly necessary to provide you with services. The Cookie Consent
      Manager can be found in the notification banner and on our website. If you
      choose to reject cookies, you may still use our website though your access
      to some functionality and areas of our website may be restricted. You may
      also set or amend your web browser controls to accept or refuse cookies.
    </p>

    <p>Here are cookies that are used</p>

    <h2>Cookies used</h2>

    <h3>Third Party</h3>

    <p>Google Analytics</p>
    <p>Google Adsense</p>

    <h2>Cookie Update Policy</h2>
    <p>
      We reserve the right to update the policy to reflect the change if new
      cookies related functionalities are added. Please visit this page to stay
      informed about the cookie policy
    </p>
  </section>
</MainLayout>
<!-- 
<style>
  p {
    margin-block-end: 1rem;
  }

  a {
    @apply underline text-[#1A45BC] dark:text-[#8bb5f8];
  }
</style> -->
