---
import MainLayout from "../components/layout/page-layout.astro";
---

<MainLayout
  title="Disclaimer"
  description="This page lays out disclaimer for the website."
>
  <h1 class="text-center text-2xl md:text-3xl font-bold mt-10">Disclaimer</h1>

  <p>
    Basic Terminology: We, The website, EverythingCS, Everything CS and its
    authors refers to the the website everythingcs.dev. You refers to the
    visitors of the website.
  </p>
  <p>
    The information provided on EverythingCS (the "Website") is for general
    informational purposes only. While we strive to keep the information up to
    date and accurate, we make no representations or warranties of any kind,
    express or implied, about the completeness, accuracy, reliability,
    suitability, or availability with respect to the Website or the information,
    products, services, or related graphics contained on the Website for any
    purpose.
  </p>

  <p>
    Any reliance you place on such information is strictly at your own risk. The
    content on the Website is not intended to be a substitute for professional
    advice, including but not limited to legal, financial, medical, or any other
    professional advice.
  </p>

  <p>
    Always seek the advice of a qualified expert in your area for any questions
    you may have regarding any information obtained from this Website. In no
    event will we be liable for any loss or damage, including but not limited to
    indirect or consequential loss or damage, arising out of or in connection
    with the use of the Website. This includes, without limitation, any loss or
    damage caused by viruses, bugs, or any other computer software or hardware
    malfunction.
  </p>

  <p>
    Through this Website, you can link to other websites that are not under our
    control. We have no control over the nature, content, and availability of
    those sites. The inclusion of any links does not necessarily imply a
    recommendation or endorsement of the views expressed within them.
  </p>

  <p>
    Every effort is made to keep the Website up and running smoothly. However,
    EverythingCS takes no responsibility for, and will not be liable for, the
    Website being temporarily unavailable due to technical issues beyond our
    control. By using this Website, you agree to hold harmless EverythingCS, its
    owners, operators, employees, and affiliates from any claims, liabilities,
    damages, losses, costs, or expenses, including attorney's fees, arising out
    of your use of the Website or any violation of these terms.
  </p>

  <p>
    We reserve the right to modify, update, or change this disclaimer at any
    time without notice. It is your responsibility to review this disclaimer
    periodically for changes.
  </p>

  <h3>Affiliate Disclaimer</h3>

  <p>
    Some of the links may be affiliate link. That means I may receive some
    commission at no extra cost to you. I try my very best to recommend the
    services that I personally use. Through this I am able to earn some money
    from the blog and also pay the cost of the CDN and other services.
  </p>
  <p>Last Updated: <strong>December 14 2023</strong></p>
</MainLayout>

<style>
  a {
    text-decoration: underline !important;
  }

  p {
    padding-top: 20px;
  }

  p:last-child() {
    margin-bottom: 20px;
  }
</style>
