---
import Featured from "../components/blog/featured.astro";
import MainLayout from "../components/layout/main-layout.astro";
---

<MainLayout
  title="EverythingCS"
  description="EverythingCS is a blog related to Reactjs, Nextjs, Firebase tutorials and more of fullstack developement"
>
  <section
    class="mt-7 px-4 border-2 bg-primaryColour dark:bg-transparent text-white dark:border-gray-100 rounded-sm h-[300px] md:h-[250px] flex justify-center flex-col items-center"
  >
    <h1 class="text-center text-2xl md:text-3xl font-bold">
      Welcome to EverythingCS
    </h1>
    <p class="mt-5 text-center text-[18px]">
      Hello, I am Jitendra. I mostly talk about full stack stuff like ReactJS,
      Next.js, Firebase, Cloudflare Workers, Astro and many others.
    </p>
  </section>

  <Featured />
</MainLayout>
