---
import MainLayout from "../components/layout/page-layout.astro";
---

<MainLayout
  title="Privacy Policy"
  description="This page explains what data do we collect and how is it processed."
>
  <h1 class="text-center text-2xl md:text-3xl font-bold mt-10">
    Privacy Policy
  </h1>
  <p class="mt-5">
    This is the privacy policy for the EverythingCS Blog. I am writing clearly
    and not the usual boilerplate stuff. I may add those in future but for now
    in a clear concise manner I will inform about data collection and
    processing.
  </p>

  <p>
    Please note that this privacy policy is subject to change without notice and
    that it is in your best interest to review it regularly. If you continue to
    use this website you agree to this policy.
  </p>
  <h3 class="my-3 text-xl font-bold">Data Collection</h3>

  <p>
    No personal information is collected by default and also no <strong
      >cookies</strong
    >
    are stored by default.
  </p>

  <p>
    In no circumstances we will share your data with any third party software or
    tool.
  </p>
  <p>
    If you choose to submit the feedback form or the contact form then we
    require <strong>name</strong> and <strong>email address</strong> so that we can
    contact you further. After the query is resolved, the data is disposed and is
    not stored or shared with any third party software or tool.
  </p>

  <p>IP address may be stored for security purposes.</p>

  <h3 class="my-3 text-xl font-bold">Analytics</h3>

  <p>
    No third party analytics is being used. We have our own basic analytics.
  </p>
  <p>Data collected: Device type, OS, Browser, Country, City, Referrer.</p>
  <p>
    We use this data to improve the website and to understand how people use it.
  </p>
  <p>This data is not attached to any user. User cannot be identified.</p>

  <p>Data may be retained for longer periods of time.</p>

  <h3 class="my-3 text-xl font-bold">Contact</h3>
  <p>
    If you have additional queries then please contact us through our <a
      href="/contact"
    >
      contact form
    </a>.
  </p>

  <p>Last Updated: <strong>01 September 2024</strong></p>
</MainLayout>

<style>
  a {
    text-decoration: underline !important;
  }

  p:last-child() {
    margin-bottom: 20px;
  }
</style>
