---
const { title, href } = Astro.props;
---

<a
  href={`/category${href}/`}
  class="border-2 px-16 py-8 w-full md:w-fit text-center rounded-sm dark:hover:bg-white/10 hover:bg-slate-700/10"
>
  <span class="w-fit">{title}</span>
</a>
