<footer
  class="h-[90px] w-full bg-primaryColour dark:bg-transparent dark:border-t-gray-200/60 dark:border-t-2 text-white p-6 md:p-3 md:px-11 mt-auto"
>
  <div class="flex items-center justify-center gap-5 mb-2">
    <a href="/contact"> Contact</a>
    <a href="/disclaimer"> Disclaimer</a>
    <a href="/cookies-policy"> Cookies Policy</a>
    <a href="/privacy-policy"> Privacy Policy</a>
  </div>

  <p class="text-center">
    &copy;{new Date().getFullYear()}{" "}

    <a href="/">EverythingCS</a>
  </p>
</footer>
