<footer
  class="bg-primaryColour h-[60px] w-full text-white p-6 md:p-3 md:px-11 mt-auto"
>
  <p class="w-full text-center">
    &copy;{new Date().getFullYear()}

    <a href="/">EverythingCS</a>
  </p>
</footer>
