<aside class="sidebar w-[30%] flex justify-end">
  <div class="mt-7 bg-gray-200 rounded-xl px-9 py-3 h-fit flex flex-col">
    <h3 class="font-medium text-slate-700 mb-3">
      Did you find this post helpful?
    </h3>
    <p class="text-slate-600">Yes</p>
    <p class="text-slate-600">No</p>
  </div>
</aside>
