---
const { fileName, hasPartialCode } = Astro.props;
---

<div class="code-container">
  <!-- {
    fileName ? (
      <p class="border-b-2 py-2 px-4 text-white font-medium border-gray-600;">
        {fileName}
      </p>
    ) : null
  } -->

  <div
    class="border-b-2 py-2 px-4 flex items-center justify-between text-white font-medium border-gray-600;"
  >
    <span>
      {fileName ?? null}
    </span>

    <!-- <span class="sr-only">Copy Code</span>
    <span class="cursor-pointer copyBtn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-copy"
        ><rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect><path
          d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
        ></path></svg
      >
    </span> -->
  </div>
  {hasPartialCode && <p class="px-4 text-white">...rest same no changes</p>}
  <slot />
</div>
<!-- 2d2d2d -->
<style is:global>
  .code-container {
    margin-block-top: 20px !important;
    margin-block-end: 20px !important;
    @apply bg-[#1f2023] dark:bg-transparent dark:border-2 dark:border-gray-400  rounded-xl;
    /* @apply bg-[#2d2d2d] dark:bg-transparent dark:border-2 dark:border-gray-400  rounded-xl; */
  }

  pre {
    background: #1f2023 !important;
    @apply bg-[#2d2d2d] dark:bg-transparent  p-5 rounded-xl my-6;
  }
</style>
