---
interface Props {
  fileName?: string;
  hasPartialCode?: boolean;
  githubLink?: string;
}
const { fileName, hasPartialCode, githubLink } = Astro.props;
import { Copy, Check, Github } from "lucide-astro";
---

<div
  class="code-container bg-surface dark:bg-transparent dark:border-2 dark:border-gray-400 rounded-xl"
>
  <div
    class="border-b-2 py-2 px-4 flex items-center justify-between text-white font-medium border-gray-600;"
  >
    <span>
      {fileName ?? null}
    </span>

    <div class="flex items-center gap-5 md:gap-10">
      {
        githubLink && (
          <a
            href={githubLink}
            class="!no-underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            Github
          </a>
        )
      }
      <button class="copy-button">
        <span class="copy-icon">
          <span class="sr-only">Copy Code</span>
          <Copy />
        </span>

        <span class="hidden copy-success">
          <span class="sr-only">Code Copied</span>
          <Check class="text-green-500" />
        </span>
      </button>
    </div>
  </div>

  {hasPartialCode && <p class="px-4 text-white">...rest same no changes</p>}
  <slot />

  <script>
    let copyButtons: NodeListOf<HTMLButtonElement> =
      document.querySelectorAll(".copy-button");

    copyButtons.forEach((button) => {
      button.addEventListener("click", async (event) => {
        const target = event.target as HTMLElement;

        const container = target.closest(".code-container");

        if (container) {
          let codeBlock = container.querySelector("pre");

          if (codeBlock) {
            await copyCode(codeBlock, button);
          }
        }
      });
    });

    async function copyCode(block: Element, button: HTMLButtonElement) {
      let code = block.querySelector("code");
      let text = code?.innerText;

      if (text) {
        await navigator.clipboard.writeText(text);
      }

      const copyIcon = button.querySelector(".copy-icon")!;
      const copySuccess = button.querySelector(".copy-success")!;
      copyIcon.classList.add("hidden");
      copySuccess.classList.remove("hidden");

      setTimeout(() => {
        copySuccess.classList.add("hidden");
        copyIcon.classList.remove("hidden");
      }, 2000);
    }
  </script>

  <style is:global>
    @reference "../../global.css"
    .code-container {
      margin-block-top: 20px !important;
      margin-block-end: 20px !important;
    }

    pre {
      background: #1f2023 !important;
      @apply bg-[#2d2d2d] dark:bg-transparent  p-5 rounded-xl my-6;
    }
  </style>
</div>
