---
import PostCard from "./post-card.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);

const featuredPosts = posts.filter(
  (post) => !post.data.draft && post.data.isFeatured
);
// const featuredPosts = posts.filter((post) => post.data.isFeatured === true );
---

<section class="mt-7">
  <div class="flex md:justify-start items-center gap-7 justify-between">
    <h2 class="font-semibold text-2xl md:text-3xl">Featured Posts</h2>
    <a
      href="/blog"
      class="border-2 bg-surface text-white dark:border-gray-300 dark:hover:hover:bg-[#5e687c20] px-6 py-2 rounded-sm"
      >View All Posts</a
    >
  </div>

  <div class="my-10 grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      featuredPosts
        .slice(0, 6)
        .map((post) => (
          <PostCard
            title={post.data.title}
            description={post.data.description}
            slug={post.id}
            publishedDate={post.data.publishedDate}
          />
        ))
    }
  </div>
</section>
