---
import type { MarkdownHeading } from "astro";
interface Props {
  headings: MarkdownHeading[];
}
const { headings } = Astro.props;

const filteredHeading = headings.filter((f) => f.depth < 4);
---

<h3>Table of Content</h3>

{
  filteredHeading.length > 0
    ? filteredHeading.map((heading) => (
        <a class={`toc-link depth-${heading.depth}`} href={`#${heading.slug}`}>
          {heading.text}
        </a>
      ))
    : null
}

<style>
  .depth-3 {
    margin-left: 1.25rem;
  }

  a.toc-link.depth-2 {
    font-weight: 500;
    /* text-decoration: underline; */
  }

  a.toc-link {
    color: white;
    font: 0.5rem;
    text-decoration: none;
  }
</style>
