@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.post-content p {
  margin-block-end: 13px;
}

.post-content h2 {
  @apply font-semibold text-3xl my-5;
}
.post-content h3 {
  @apply font-medium text-2xl my-4;
}
.post-content h4 {
  @apply font-medium text-xl my-3;
}

.post-content img {
  margin-block-end: 13px;
}

pre {
  @apply bg-[#2d2d2d] p-5 rounded-xl my-6;
}
