@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter Variable", sans-serif;
}

.post-content p {
  margin-block-end: 13px;
}

.post-content h2 {
  @apply font-semibold text-3xl my-5;
}
.post-content h3 {
  @apply font-medium text-2xl my-4;
}
.post-content h4 {
  @apply font-medium text-xl my-3;
}

.post-content img {
  margin-block-end: 13px;
}

.post-content a {
  /* color: #1d4ed8; */
  /* text-decoration: underline; */

  @apply underline text-[#1A45BC] dark:text-[#8bb5f8];
}
/* pre {
  margin-block-top: 20px !important;
  margin-block-end: 20px !important;
  @apply bg-[#2d2d2d] dark:bg-transparent dark:border-2 dark:border-gray-400 p-5 rounded-xl my-6;
} */

/* to make the footer stick to bottom */
body {
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */

  @apply flex flex-col min-h-[100vh];
}

html.dark {
  /* @apply bg-[#1d1d23] text-white; */
  /* @apply bg-[#1f1d23] text-white; */
  @apply bg-[#1f2023] text-white;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 50px;
}
