@import "tailwindcss";

body {
  font-family: "Inter Variable", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-primary: #1d1e2c;
  --color-surface: #1f2023;
}

label[data-input-required]::after {
  content: "*";
  color: #be2f2f;
}

.post-content p {
  margin-block-end: 13px;
  /* look for possible ui shifts or errors */
  word-wrap: break-word;
}

.code-container p {
  word-wrap: break-word;
}

.post-content li {
  list-style-type: disc;
  margin-left: 2rem;
}

.post-content h2 {
  @apply font-semibold text-3xl my-5;
}
.post-content h3 {
  @apply font-medium text-2xl my-4;
}
.post-content h4 {
  @apply font-medium text-xl my-3;
}

.post-content img {
  margin-block-end: 13px;
}

.post-content a {
  @apply underline text-[#1A45BC] dark:text-[#8bb5f8];
}

/* to make the footer stick to bottom */
body {
  @apply flex flex-col min-h-[100vh];
}

html.dark {
  /* @apply bg-[#1d1d23] text-white; */
  /* @apply bg-[#1f1d23] text-white; */
  @apply bg-[#1f2023] text-white;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 50px;
}
